// Variables
$standard-font: 16px;
$primary-font-family: 'Lexend Deca', sans-serif;
$secondary-font-family: 'Livvic', sans-serif;
$button-padding: 12.5px 45px;
$bottom-space: 6.5%;
$top-space: 13%;


// Mixins

@mixin padding-nav {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
}


@mixin main-header {
    font-size: 350%;
    letter-spacing: 3.5px;
    word-spacing: -3.5px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: capitalize;
    font-family:  $primary-font-family;
}

@mixin sub-header {
    font-size: 275%;
    letter-spacing: -2.75px;
    word-spacing: 2.75px;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    font-family:  $primary-font-family;
}

@mixin content-heading {
    font-size: 200%;
    letter-spacing: -2px;
    word-spacing: 2px;
    line-height: 1;
    font-weight: 300;
    text-transform: capitalize;
}

@mixin primary-text {
    font-family: $secondary-font-family;
    font-size: 125%;
    letter-spacing: 1.25px;
    word-spacing: -1.25px;
    line-height: 2;
    font-weight: 300;
}

@mixin secondary-text {
    font-family: $secondary-font-family;
    font-size: $standard-font;
    letter-spacing: 1px;
    word-spacing: -1px;
    line-height: 2;
    font-weight: 300;
}

@mixin default-button {
    padding: 12.5px 45px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 50px;
    color: white;
    font-family: $secondary-font-family;
    font-size: 125%;
    letter-spacing: 1.25px;
    word-spacing: -1.25px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    transition: all 1s;

    &:hover {
        opacity: .75;
    }
}

@mixin button-secondary {
    padding: 12.5px 45px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 50px;
    font-family: $secondary-font-family;
    font-size: 125%;
    letter-spacing: 1.25px;
    word-spacing: -1.25px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    transition: all 1s;
    &:hover {
        opacity: .75;
    }
}

@mixin button-inverse {
    background-color: transparent;
    color: black;
    padding: 12.5px 45px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 25px;
    font-family: $secondary-font-family;
    font-size: 125%;
    letter-spacing: 1.25px;
    word-spacing: -1.25px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    transition: all 1s;

    &:hover {
        font-weight: 500;
        font-weight: 130%;
    }
}
@mixin gradient-text-white {
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin gradient-bg-white {
    background: #C9D6FF; 
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
}
@mixin gradient-text-red {
    background: #e43a15;  
    background: -webkit-linear-gradient(to right, #e65245, #e43a15); 
    background: linear-gradient(to right, #e65245, #e43a15);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin gradient-bg-red {
    background: #e43a15;  
    background: -webkit-linear-gradient(to right, #e65245, #e43a15); 
    background: linear-gradient(to right, #e65245, #e43a15); 
}

body {
    @include gradient-bg-red;
    font-size: $standard-font;
    margin: 0;
    padding: 0;
}

h1 {
    @include main-header;
    @include gradient-text-white;
    font-family: $primary-font-family;
}

h2 {
    @include sub-header;
    font-family: $primary-font-family;
}

h3 {
    @include content-heading;
    font-family: $secondary-font-family;
}

p {
    @include secondary-text;
}

.primary-text {
    @include primary-text;
    @include gradient-text-white;
}

.btn {
    @include default-button;
    @include gradient-bg-white;
    color: #e65245;

    &-secondary {
        @include button-secondary;
        @include gradient-bg-red;
        color: #E2E2E2;
    }
    &-inverse {
        @include button-inverse;
    }
}

nav {
    @include padding-nav;
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: auto;

    h2 {
        margin-left: auto;
        flex: 1 33%;
        font-weight: 700;
        @include gradient-text-white;
        line-height: 1.25;
    }
    ul {
        align-self: flex-end;
        margin: auto;

        li {
            display: inline;
            padding: 0 25px;
            margin: auto;
            @include gradient-text-white;
            font-family: $secondary-font-family;
            font-size: 125%;
            letter-spacing: 1.25px;
            word-spacing: -1.25px;
            line-height: 2;
            font-weight: 300;
            text-decoration: none;
            transition: all 1s;

            &:hover {
                font-weight: 500;
                font-weight: 130%;
            }
        }
    }
}

#hero {
    margin: 0;
    padding: 0;
    padding-bottom: $bottom-space;

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 75vh;

        h1 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
            @include gradient-text-white;
        }
    }
}

#overview {
    @include padding-nav;
    @include gradient-bg-white;
    display: flex;
    padding-top: 19.5%;
    padding-bottom: $bottom-space;

    .container {
        @include padding-nav;
        max-width: 47.5%;
        margin-right: auto;
        
        h2 {
            margin-bottom: 10px;
            @include gradient-text-red;
        }

        p {
            margin-top: 0;
            margin-bottom: 25px;
            @include gradient-text-red;
        }
    }
}

#skills {
    @include padding-nav;
    @include gradient-bg-white;
    display: flex;
    padding-bottom: $top-space;
    padding-top: $top-space;

    .container {
        @include padding-nav;
        max-width: 47.5%;
        margin-left: auto;
        
        h2 {
            margin-bottom: 10px;
            @include gradient-text-red;
        }

        p {
            margin-top: 0;
            margin-bottom: 25px;
            @include gradient-text-red;
        }
    }
}

#portfolio {
    @include gradient-bg-white;
    @include padding-nav;
    padding-top: $top-space;
    padding-bottom: 19.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .container {
        @include gradient-bg-red;
        padding: $top-space $bottom-space;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            @include gradient-text-white;
            margin-bottom: 0;
        }
        p {
            max-width: 75%;
        }
    }
}

#contact {
    margin: 0;
    padding: 0;
    padding-top: $top-space;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 75vh;

        h1 {
            margin-bottom: 0;
            max-width: 75%;
        }

        p {
            margin-top: 0;
            @include gradient-text-white;
            max-width: 65%;
        }
    }

    nav {
        position: abosolute;
        bottom: 0;
    }
}