body {
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 350%;
  letter-spacing: 3.5px;
  word-spacing: -3.5px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Lexend Deca", sans-serif;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  font-size: 275%;
  letter-spacing: -2.75px;
  word-spacing: 2.75px;
  line-height: 1;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

h3 {
  font-size: 200%;
  letter-spacing: -2px;
  word-spacing: 2px;
  line-height: 1;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Livvic", sans-serif;
}

p {
  font-family: "Livvic", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: -1px;
  line-height: 2;
  font-weight: 300;
}

.primary-text {
  font-family: "Livvic", sans-serif;
  font-size: 125%;
  letter-spacing: 1.25px;
  word-spacing: -1.25px;
  line-height: 2;
  font-weight: 300;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 12.5px 45px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 50px;
  color: white;
  font-family: "Livvic", sans-serif;
  font-size: 125%;
  letter-spacing: 1.25px;
  word-spacing: -1.25px;
  line-height: 2;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  color: #e65245;
}

.btn:hover {
  opacity: .75;
}

.btn-secondary {
  padding: 12.5px 45px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 50px;
  font-family: "Livvic", sans-serif;
  font-size: 125%;
  letter-spacing: 1.25px;
  word-spacing: -1.25px;
  line-height: 2;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  color: #E2E2E2;
}

.btn-secondary:hover {
  opacity: .75;
}

.btn-inverse {
  background-color: transparent;
  color: black;
  padding: 12.5px 45px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 25px;
  font-family: "Livvic", sans-serif;
  font-size: 125%;
  letter-spacing: 1.25px;
  word-spacing: -1.25px;
  line-height: 2;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-inverse:hover {
  font-weight: 500;
  font-weight: 130%;
}

nav {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 100%;
  margin: auto;
}

nav h2 {
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 33%;
          flex: 1 33%;
  font-weight: 700;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.25;
}

nav ul {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto;
}

nav ul li {
  display: inline;
  padding: 0 25px;
  margin: auto;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Livvic", sans-serif;
  font-size: 125%;
  letter-spacing: 1.25px;
  word-spacing: -1.25px;
  line-height: 2;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav ul li:hover {
  font-weight: 500;
  font-weight: 130%;
}

#hero {
  margin: 0;
  padding: 0;
  padding-bottom: 6.5%;
}

#hero .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 75vh;
}

#hero .hero h1 {
  margin-bottom: 0;
}

#hero .hero p {
  margin-top: 0;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#overview {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 19.5%;
  padding-bottom: 6.5%;
}

#overview .container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 47.5%;
  margin-right: auto;
}

#overview .container h2 {
  margin-bottom: 10px;
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#overview .container p {
  margin-top: 0;
  margin-bottom: 25px;
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 13%;
  padding-top: 13%;
}

#skills .container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 47.5%;
  margin-left: auto;
}

#skills .container h2 {
  margin-bottom: 10px;
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills .container p {
  margin-top: 0;
  margin-bottom: 25px;
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#portfolio {
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 13%;
  padding-bottom: 19.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#portfolio .container {
  background: #e43a15;
  background: -webkit-gradient(linear, left top, right top, from(#e65245), to(#e43a15));
  background: linear-gradient(to right, #e65245, #e43a15);
  padding: 13% 6.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#portfolio .container h2 {
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

#portfolio .container p {
  max-width: 75%;
}

#contact {
  margin: 0;
  padding: 0;
  padding-top: 13%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 75vh;
}

#contact .container h1 {
  margin-bottom: 0;
  max-width: 75%;
}

#contact .container p {
  margin-top: 0;
  background: #C9D6FF;
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 65%;
}

#contact nav {
  position: abosolute;
  bottom: 0;
}
/*# sourceMappingURL=page.css.map */